@import "tailwindcss";

:root {
  --color-background: #010101;
  --color-foreground: white;
  --font-montserrat: var(--font-montserrat);

}

@theme {
  --color-primary: #010101;
  --color-secondary: #ffffff;
  --color-third: #A31AEF;
  --color-third-light: #e9a7ff;
  --color-third-back: #774192;
  --color-fourth: #171717;
  --color-fourth-back: #262626;

  --animate-colorChange: colorChange 0.3s ease-in forwards;
  --animate-shine: shine 1.5s infinite linear;
  --animate-scaleTitle: scaleTitle 0.5s ease-in-out forwards;
  /* --animate-scrollSkills: scrollSkills 10s linear infinite; */

  @keyframes colorChange {
    from {
      color: var(--color-secondary);
    }
    to {
      color: var(--color-third);
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(50%) rotate(205deg);
    }
    100% {
      transform: translateX(1600%) rotate(205deg);
    }
  }

  @keyframes scaleTitle {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

  @keyframes scrollSkills {
    to { transform: translateX(calc( -50% - 20px )); }
  }
    
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-montserrat);
  }
  button {
    cursor: pointer;
  }

  li.underline-animate {
    position: relative;
  }

  li.underline-animate::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, #7F22FE, #C800DE);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  li.underline-animate.active::after {
    transform: scaleX(1);
  }

}

@layer utilities {
  .animate-scrollSkills {
    animation: scrollSkills 30s linear infinite;
  }

  .group:hover .animate-scrollSkills {
    animation-play-state: paused;
  }
}


@layer components {

  .input-custom {
    @apply rounded-md bg-fourth h-full outline-none border-3 border-neutral-700 focus:border-neutral-500 transition-colors duration-300;
  }

  .text-display-m-d {
    @apply text-[64px] font-semibold leading-[1.2] tracking-[-0.02em]
  }
  
  .text-h2-sm-d {
    @apply text-[48px] font-semibold leading-[1.2] tracking-[-0.01em]
  }

  .text-h2-r-d {
    @apply text-[48px] font-normal leading-[1.2] tracking-[-0.01em]
  }

  .text-subtitle1-b-d {
    @apply text-[28px] font-bold leading-[1.2] tracking-[0em]
  }

  .text-subtitle1-r-d {
    @apply text-[28px] font-normal leading-[1.2] tracking-[0em]
  }

  .text-subtitle2-b-d {
    @apply text-[24px] font-bold leading-[1.4] tracking-[0em]
  }

  .text-subtitle2-r-d {
    @apply text-[24px] font-normal leading-[1.4] tracking-[0em]
  }

  .text-lead-r-d {
    @apply text-[20px] font-normal leading-[1.4] tracking-[0em]
  }

  .text-lead-b-d {
    @apply text-[20px] font-bold leading-[1.4] tracking-[0em]
  }

  .text-body-large-r-d {
    @apply text-[18px] font-normal leading-[1.4] tracking-[0em]
  }

  .text-body-large-sm-d {
    @apply text-[18px] font-semibold leading-[1.4] tracking-[0em]
  }

  .text-body-large-b-d {
    @apply text-[18px] font-bold leading-[1.4] tracking-[0em]
  }

  .text-body-small-r-d {
    @apply text-[16px] font-normal leading-[1.4] tracking-[0em]
  }

  .text-body-small-sm-d {
    @apply text-[16px] font-semibold leading-[1.4] tracking-[0em]
  }

  .text-body-small-b-d {
    @apply text-[16px] font-bold leading-[1.4] tracking-[0em]
  }

  .text-small-r-d {
    @apply text-[14px] font-normal leading-[1.4] tracking-[0em]
  }

  .text-small-sm-d {
    @apply text-[14px] font-semibold leading-[1.4] tracking-[0em]
  }

  .text-small-b-d {
    @apply text-[14px] font-bold leading-[1.4] tracking-[0em]
  }

  .text-tiny-r-d {
    @apply text-[12px] font-normal leading-[1.4] tracking-[0em]
  }

  .text-tiny-sm-d {
    @apply text-[12px] font-semibold leading-[1.4] tracking-[0em]
  }

  .text-tiny-b-d {
    @apply text-[12px] font-bold leading-[1.4] tracking-[0em]
  }

}