@import "tailwindcss";

:root {
  --color-background: #010101;
  --color-foreground: white;
  --font-montserrat: var(--font-montserrat);

}

@theme {
  --color-primary: #010101;
  --color-secondary: #ffffff;
  --color-third: #A31AEF;
  --color-third-light: #e9a7ff;
  --color-third-back: #774192;
  --color-fourth: #0E0E0E;
  --color-fourth-back: #262626;
  --color-border: #404040;

  /* typografy */
  --text-h2-d: 48px;
  --text-h2-m: 28px;
  --text-h4-d: 32px;
  --text-h4-m: 24px;
  --text-subtitle-1-d: 28px;
  --text-subtitle-1-m: 22px;
  --text-subtitle-2-d: 24px;
  --text-subtitle-2-m: 20px;
  --text-lead-d: 20px;
  --text-lead-m: 18px;
  --text-body-large-d: 18px;
  --text-body-large-m: 16px;
  --text-body-small-d: 16px;
  --text-body-small-m: 14px;
  --text-small-d: 14px;
  --text-small-m: 12px;
  --text-tiny-d: 12px;
  --text-tiny-m: 11px;
  
  --animate-colorChange: colorChange 0.3s ease-in forwards;
  --animate-shine: shine 1.5s infinite linear;
  --animate-scaleTitle: scaleTitle 0.5s ease-in-out forwards;
  --breakpoint-xs: 30rem;
  --breakpoint-middle: 55rem;
  /* --animate-scrollSkills: scrollSkills 10s linear infinite; */

  @keyframes colorChange {
    from {
      color: var(--color-secondary);
    }
    to {
      color: var(--color-third);
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(50%) rotate(205deg);
    }
    100% {
      transform: translateX(1600%) rotate(205deg);
    }
  }

  @keyframes scaleTitle {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
  }

  @keyframes scrollSkills {
    to { transform: translateX(calc( -50% - 20px )); }
  }
    
}

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-montserrat);
    overflow-x: hidden !important;
  }
  button {
    cursor: pointer;
  }

  li.underline-animate {
    position: relative;
  }

  li.underline-animate::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, #7F22FE, #C800DE);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }

  li.underline-animate.active::after {
    transform: scaleX(1);
  }

}




@layer components {

  .input-custom {
    @apply rounded-md bg-fourth h-full outline-none border-2 border-neutral-700 focus:border-neutral-500 transition-colors duration-300;
  }

  .text-display-m-d {
    @apply text-[64px] font-semibold leading-[1.2] tracking-[-0.02em]
  }
  
  .h2-sm {
    @apply font-semibold leading-[1.2] tracking-[-0.01em]
  }

  .h2-r {
    @apply font-normal leading-[1.2] tracking-[-0.01em]
  }

  .text-h3-b-d {
    @apply text-[40px] font-bold leading-[1.2] tracking-[-0.01em]
  }

  .text-h3-r-d {
    @apply text-[40px] font-normal leading-[1.2] tracking-[-0.01em]
  }

  .h4-b {
    @apply font-bold leading-[1.2] tracking-[0rem]
  }

  .h4-r {
    @apply font-normal leading-[1.2] tracking-[0rem]
  }

  .subtitle1-b {
    @apply font-bold leading-[1.2] tracking-[0em]
  }

  .subtitle1-r {
    @apply font-normal leading-[1.2] tracking-[0em]
  }

  .subtitle2-b {
    @apply font-bold leading-[1.4] tracking-[0em]
  }

  .subtitle2-r {
    @apply text-[24px] font-normal leading-[1.4] tracking-[0em]
  }

  .lead-r {
    @apply font-normal leading-[1.4] tracking-[0em]
  }

  .lead-b {
    @apply font-bold leading-[1.4] tracking-[0em]
  }

  .body-large-r {
    @apply font-normal leading-[1.4] tracking-[0em]
  }

  .body-large-sm {
    @apply font-semibold leading-[1.4] tracking-[0em]
  }

  .body-large-b {
    @apply font-bold leading-[1.4] tracking-[0em]
  }

  .body-small-r {
    @apply font-normal leading-[1.4] tracking-[0em]
  }

  .body-small-sm {
    @apply font-semibold leading-[1.4] tracking-[0em]
  }

  .body-small-b {
    @apply font-bold leading-[1.4] tracking-[0em]
  }

  .small-r {
    @apply font-normal leading-[1.4] tracking-[0em]
  }

  .small-sm {
    @apply font-semibold leading-[1.4] tracking-[0em]
  }

  .small-b {
    @apply font-bold leading-[1.4] tracking-[0em]
  }

  .tiny-r {
    @apply font-normal leading-[1.4] tracking-[0em]
  }

  .tiny-sm {
    @apply font-semibold leading-[1.4] tracking-[0em]
  }

  .tiny-b {
    @apply font-bold leading-[1.4] tracking-[0em]
  }

  .text-display-m-m {
    @apply text-[36px] font-semibold leading-[1.2] tracking-[-0.01em]
  }

  .text-h3-b-m {
    @apply text-[26px] font-bold leading-[1.2] tracking-[0rem]
  }

  .text-h3-r-m {
    @apply text-[26px] font-normal leading-[1.2] tracking-[0rem]
  }

  .text-h4-b-m {
    @apply text-[24px] font-bold leading-[1.2] tracking-[0rem]
  }

  .text-h4-r-m {
    @apply text-[24px] font-normal leading-[1.2] tracking-[0rem]
  }

}

@layer utilities {
  .animate-scrollSkills {
    animation: scrollSkills 30s linear infinite;
  }

  .group:hover .animate-scrollSkills {
    animation-play-state: paused;
  }

}